# requirements.txt

# ETL and orchestration
apache-airflow==2.9.1

# Data transformation (DBT connectors)
dbt-bigquery==1.7.9
dbt-postgres==1.7.9

# Mock data
faker==24.9.0
pandas==2.2.2

dbt-postgres==1.7.9
psycopg2-binary>=2.9