dbt-bigquery==1.7.9
dbt-core==1.7.9
dbt-postgres==1.7.9
psycopg2-binary>=2.9
python-dotenv==1.1.0
faker==24.9.0

pytest==8.2.1
pytest-mock==3.14.0
black==24.4.2
flake8==7.0.0
isort==5.13.2

numpy==1.24.4
pandas==2.0.3
matplotlib==3.8.4

gspread
gspread-dataframe
oauth2client
